<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <%- include("/partial/header",{title:report.title+" | 活动报告 | 人大附中社团管理平台"}) %>
  </head>
  <body>
    <%- include("/partial/drawer",{user:user}) %>
    <%- include("/partial/appbar",{title:report.title+" | 活动报告"}) %>
    <div id="wrapper" class="mdc-top-app-bar--fixed-adjust">
      <div id="content-in">
        <div id="content">
          <div class="mdc-card" id="report">
            <%
            function size(size,unknown){
              switch(size){
                case "small":
                return "小型活动";
                case "large":
                return "大型活动";
                case "xlarge":
                return "超大型活动";
                case "outer":
                return "校外活动";
                default:
                return unknown||"未知";
              }
            }
            %>
            <h1 class="mdc-typography-headline1"><%= report.title %></h1>
            <form method="post">
              <table>
                <tr><td class="right" style="min-width: 100px;">社团</td><td class="left"><%= report.name %></td></tr>
                <tr><td class="right">声明活动规模</td><td class="left"><%= size(report.size) %></td></tr>
                <tr><td class="right">开始时间</td><td class="left"><%= report.begin %></td></tr>
                <tr><td class="right">持续时间</td><td class="left"><%= report.time %></td></tr>
                <tr><td class="right">地点</td><td class="left"><%= report.place %></td></tr>
                <tr><td class="right">内容</td><td class="content left"><%- escapeFn(report.description).replace(/\n/g,"<br />") %></td></tr>
                <tr><td class="right">附件</td><td class="left"><%- include("/partial/files",{files:report.files}) %></td></tr>
                <tr><td class="right">认定活动规模</td><td class="left"><%- include("/partial/checkedsize",{report,user,size}) %></td></tr>
                <tr><td class="right">评分</td><td class="left"><%- include("/partial/score",{report,user}) %></td></tr>
              </table>
              <% if(user.role=="admin"||user.role=="officer"){ %>
                <br />
                <input type="submit" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" value="提交更改" />
              <% } %>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include("/partial/footer") %>
  </body>
</html>
