<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <%- include("/partial/header",{title:_user.name + " | 用户 | 人大附中社团管理平台"}) %>
  </head>
  <body>
    <%- include("/partial/drawer",{user}) %>
    <%- include("/partial/appbar",{title:_user.name + " | 用户"}) %>
    <div id="wrapper" class="mdc-top-app-bar--fixed-adjust">
      <div id="content-in">
        <div id="content">
          <div class="mdc-card" id="user">
            <h1 class="mdc-typography-headline1">
              <%= _user.name %>
              <i class="mdc-icon-button material-icons" onclick="document.getElementById('dialog').MDCDialog.open(),void(0)">delete</i>
            </h1>
            <form method="post">
              <%- include("/partial/csrf") %>
              <%- include("/mdc/input", {label:"uid", name:"id", value: _user.id, required:true}) %>
              <%- include("/mdc/input", {label:"显示名", name:"name", value: _user.name, required:true}) %>
              <%- include("/mdc/input", {label:"密码(留空以保持原状)", name:"passwd", type:"password"}) %>
              <div class="left mdc-typography--body1">
                类型(不可更改): <%= {
                  admin:"管理员",
                  officer:"干事",
                  association:"社团"
                }[_user.role] %>
              </div>
              <br />
              <% if(_user.role !== "admin") { %>
              <%- include("/mdc/select",{
                label:"类别",
                name:"type",
                required:true,
                options:require("./consts")
                        .user
                        .types
                        .map(type => {
                          return {
                            label:require("./consts").user.typesReverse[type],
                            value:type
                          }
                        }),
                value:_user.type
              }) %>
              <% } %>
              <% if(_user.role === "association") { %>
                请谨慎更改此项！
                <%- include("/mdc/textarea", {
                  label:"联系方式(JSON)",
                  name:"contact",
                  required:true,
                  value:_user.contact ? JSON.stringify(_user.contact, null, 2) : ""
                }) %>
              <% } %>
              <br />
              <input type="submit" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" value="提交更改" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="mdc-dialog"
         role="alertdialog"
         aria-modal="true"
         aria-labelledby="dialog-title"
         aria-describedby="dialog-content"
         data-mdc-auto-init="MDCDialog"
         id="dialog">
      <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
          <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
          <h2 class="mdc-dialog__title" id="dialog-title"><!--
         -->注意！<!--
       --></h2>
          <div class="mdc-dialog__content" id="dialog-content">
            这个操作是<b>不可逆的</b>！<br />
            此操作将删除<b>一切</b>用户相关数据，如该用户的报告、申请、消息等！请勿随意删除用户！<br />
            删除一个干事并不会删除对应类别的报告、申请、消息等，但<b>会</b>删除该用户发出的<b>一切</b>分数、申请更新提醒！<br />
            <b>请务必重视此提醒！</b>
          </div>
          <footer class="mdc-dialog__actions">
            <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
              <span class="mdc-button__label">否</span>
            </button>
            <form method="POST">
              <%- include("/partial/csrf") %>
              <input type="hidden" name="action" value="delete" />
              <button type="submit" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes">
                <span class="mdc-button__label">是</span>
              </button>
            </form>
          </footer>
        </div>
      </div>
      <div class="mdc-dialog__scrim"></div>
    </div>
    <%- include("/partial/footer") %>
    <% if(typeof error !== "undefined") { %>
    <script>
    snackbar.labelText = "<%= error %>";
    snackbar.open();
    </script>
    <% } %>
  </body>
</html>
