<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <%- include("/partial/header",{title:"新建消息 | 人大附中社团管理平台"}) %>
  </head>
  <body>
    <%- include("/partial/drawer",{user:user}) %>
    <%- include("/partial/appbar",{title:"新建消息"}) %>
    <div id="wrapper" class="mdc-top-app-bar--fixed-adjust">
      <div id="content-in">
        <div id="content">
          <div class="mdc-card left" id="report-new">
            <% switch(user.role) {
               case "association":%>
            <p>社团：<%= user.name %></p>
            <form action="/message/new" method="post">
            <%- include("/partial/csrf") %>
            <%- include("/mdc/input",{label:"标题",name:"title",required:true}) %>
            <%- include("/mdc/select",{label:"对象",name:"to",required:true,options:[{label:"干事",value:"officer"},{label:"管理员",value:"admin"}]}) %>
            <%- include("/mdc/textarea",{label:"内容",name:"content",required:true}) %>
            <p>提交后不可以删除或修改，请谨慎提交。</p>
            <input type="submit" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" value="提交" />
            </form>
            <% break;
               case "officer":
               case "admin":%>
            <p><%= user.role=="admin"?"管理员":`干事：${user.name}` %></p>
            <form action="/message/new" method="post">
            <%- include("/partial/csrf") %>
            <%- include("/mdc/input",{label:"标题",name:"title",required:true}) %>
            <%- include("/mdc/select",{
              label:"对象",
              name:"to",
              required:true,
              options:associations.map(
                assoc => ({label:assoc.name, value:assoc.id})
              )
            }) %>
            <%- include("/mdc/textarea",{label:"内容",name:"content",required:true}) %>
            <p>提交后不可以删除或修改，请谨慎提交。</p>
            <input type="submit" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" value="提交" />
            </form>
            <% break;
              } %>
          </div>
        </div>
      </div>
    </div>
    <%- include("/partial/footer") %>
  </body>
</html>
