<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= report.title %> | 活动报告 | 人大附中社团管理平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.loli.net/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <%- include("../partial/drawer",{user:user}) %>
    <%- include("../partial/appbar",{title:report.title+" | 活动报告"}) %>
    <div id="wrapper" class="mdc-top-app-bar--fixed-adjust">
      <div id="content-in">
        <div id="content">
          <div class="mdc-card" id="report">
            <%
            function size(size,unknown){
              switch(size){
                case "small":
                return "小型活动";
                case "large":
                return "大型活动";
                case "xlarge":
                return "超大型活动";
                case "outer":
                return "校外活动";
                default:
                return unknown||"未知";
              }
            }
            %>
            <h1 class="mdc-typography-headline1"><%= report.title %></h1>
            <form method="post">
              <table>
                <tr><td class="right">社团</td><td class="left"><%= report.name %></td></tr>
                <tr><td class="right">声明活动规模</td><td class="left"><%= size(report.size) %></td></tr>
                <tr><td class="right">开始时间</td><td class="left"><%= report.begin %></td></tr>
                <tr><td class="right">持续时间</td><td class="left"><%= report.time %></td></tr>
                <tr><td class="right">地点</td><td class="left"><%= report.place %></td></tr>
                <tr><td class="right">内容</td><td class="content left"><%- escapeFn(report.content).replace(/\n/g,"<br />") %></td></tr>
                <tr><td class="right">附件</td><td class="left">TODO</td></tr>
                <tr><td class="right">认定活动规模</td><td class="left"><%- include("../partial/checkedsize",{report,user,size}) %></td></tr>
                <tr><td class="right">评分</td><td class="left"><%- include("../partial/score",{report,user}) %></td></tr>
              </table>
              <% if(user.role=="admin"||user.role=="officer"){ %>
                <br />
                <input type="submit" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" value="提交更改" />
              <% } %>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script>mdc.autoInit();</script>
    <!--div style="display:none;">
      <script src="https://s23.cnzz.com/z_stat.php?id=1275351229&web_id=1275351229" language="JavaScript"></script>
    </div-->
  </body>
</html>
