<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <%- include("/partial/header",{title:"消息 | 人大附中社团管理平台"}) %>
  </head>
  <body>
    <%- include("/partial/drawer",{user:user}) %>
    <%- include("/partial/appbar",{title:"消息"}) %>
    <div id="wrapper" class="mdc-top-app-bar--fixed-adjust">
      <div id="content-in">
        <div id="content">
          <div class="mdc-card left">
            <a href="/message/new" class="mdc-fab" data-mdc-auto-init="MDCRipple" aria-label="New">
              <span class="mdc-fab__icon material-icons">add</span>
            </a>
            <div class="right">
              <a href="/message/new" class="mdc-button mdc-button--raised mdc-theme--secondary-bg" data-mdc-auto-init="MDCRipple">
                <span class="material-icons">add</span>
                新建消息
              </a>
            </div>
            <% user.messages.forEach(message => { %>
              <%- include("/partial/message-preview",{message}); %>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
    <%- include("/partial/footer") %>
  </body>
</html>
