<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <%- include("/partial/header",{title:"新建申请 | 人大附中社团管理平台"}) %>
  </head>
  <body>
    <%- include("/partial/drawer",{user:user}) %>
    <%- include("/partial/appbar",{title:"新建申请"}) %>
    <div id="wrapper" class="mdc-top-app-bar--fixed-adjust">
      <div id="content-in">
        <div id="content">
          <div class="mdc-card left" id="application-new">
            <% switch(user.role) {
               case "association":%>
            <p>社团：<%= user.name %></p>
            <form action="/application/new" method="post">
            <%- include("/mdc/input",{label:"标题",name:"title",required:true}) %>
            <%- include("/mdc/select",{label:"类型",name:"type",required:true,options:[{label:"教室申请",value:"room"},{label:"宣传申请",value:"ad"},{label:"超大型活动申请",value:"xl-activity"},{label:"校外活动申请",value:"outer-activity"}]}) %>
            <span id="timeplace">
              <span id="common-application" hidden>
                <%- include("/mdc/input",{label:"开始时间",name:"begin",required:true}) %>
                <%- include("/mdc/input",{label:"持续时间",name:"time",required:true}) %>
                <%- include("/mdc/input",{label:"地点",name:"place",required:true}) %>
              </span>
              <span id="room-application" hidden>
                <p>仅可申请三周内教室，下一周教室在上周三前需提交申请。故意重复提交无效的申请会导致扣分。</p>
                <% for(let i = 1; i <= 3; i++) { %>
                <%- include("/mdc/input",{label:"时间志愿" + i,name:"time" + i,required:true}) %>
                <%- include("/mdc/input",{label:"地点志愿" + i,name:"place" + i,required:true}) %>
                <% } %>
              </span>
            </span>
            <%- include("/mdc/textarea",{label:"内容",name:"description",required:true}) %>
            <hr />
            <p>附件</p>
            <button id="add-file" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" onclick="document.getElementById('files').click();event.preventDefault();">添加文件</button>
            <input type="file" id="files" multiple hidden />
            <%- include("/partial/upload",{id:"files"}) %>
            <hr />
            <p>提交后不可以删除或修改，请谨慎提交。</p>
            <input type="submit" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" value="提交" />
            </form>
            <% break;
               default:%>
            您的身份不可以新建申请。
            <% break;
              } %>
          </div>
        </div>
      </div>
    </div>
    <%- include("/partial/footer") %>
    <script>
    var $ = function(a){return document.querySelector(a)};
    var common = $("#common-application");
    var room = $("#room-application");
    var timeplace = $("#timeplace");
    timeplace.removeChild(common);
    timeplace.removeChild(room);
    common.removeAttribute("hidden");
    room.removeAttribute("hidden");
    var type = $("#type").MDCSelect;
    type.listen("MDCSelect:change",function(){
      try {
        if(type.value === "room") {
          timeplace.appendChild(room);
          timeplace.removeChild(common);
          return;
        } else {
          timeplace.appendChild(common);
          timeplace.removeChild(room);
        }
      } catch(e) {}
    });
    if(location.href.indexOf("invalid") > -1) {
      snackbar.show({
        message:"申请填写不完整",
        timeout:5000
      });
    }
    </script>
  </body>
</html>
