<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <%- include("/partial/header",{title:association.name+" | 社团 | 人大附中社团管理平台"}) %>
  </head>
  <body>
    <%- include("/partial/drawer",{user:user}) %>
    <%- include("/partial/appbar",{title:association.name+" | 社团"}) %>
    <div id="wrapper" class="mdc-top-app-bar--fixed-adjust">
      <div id="content-in">
        <div id="content">
          <div class="mdc-card" id="message">
            <h1 class="mdc-typography-headline1"><%= association.name %></h1>
            <table>
              <tr><td class="right" style="min-width:32px;">类型</td><td class="left"><%= require("./consts").association.types[association.type] %></td></tr>
              <tr><td class="right">总分</td><td class="left"><%= association.score %></td></tr>
              <tr><td class="right">联系方式</td><td class="left">
                <% for(let i in association.contact) { %>
                  <%= i %>: <%= association.contact[i] %>
                  <br />
                <% } %>
              </td></tr>
            </table>
            <div class="mdc-tab-bar" data-mdc-auto-init="MDCTabBar" role="tablist">
             <div class="mdc-tab-scroller">
               <div class="mdc-tab-scroller__scroll-area">
                 <div class="mdc-tab-scroller__scroll-content">
                   <button id="report-tab" class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                     <span class="mdc-tab__content">
                       <span class="mdc-tab__text-label">活动报告</span>
                     </span>
                     <span class="mdc-tab-indicator mdc-tab-indicator--active">
                       <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                     </span>
                     <span class="mdc-tab__ripple"></span>
                   </button>
                   <button id="application-tab" class="mdc-tab" role="tab" aria-selected="true" tabindex="1">
                     <span class="mdc-tab__content">
                       <span class="mdc-tab__text-label">申请</span>
                     </span>
                     <span class="mdc-tab-indicator">
                       <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                     </span>
                     <span class="mdc-tab__ripple"></span>
                   </button>
                 </div>
               </div>
             </div>
           </div>
           <div id="reports" class="tab current">
             <div class="mdc-list" data-mdc-auto-init="MDCList">
             <% association.reports.reverse().forEach(report => { %>
               <%- include("/partial/report-preview",{report:report}); %>
             <% }); %>
             </div>
           </div>
           <div id="applications" class="tab">
             <div class="mdc-list" data-mdc-auto-init="MDCList">
             <% association.applications.reverse().forEach(app => { %>
               <%- include("/partial/application-preview",{application:app}); %>
             <% }); %>
             </div>
           </div>
           <script>
           var $=function(a){return document.querySelector(a);};
           var reports=$("#reports");
           var applications=$("#applications");
           $("#report-tab").onclick=function(){
             reports.classList.add("current");
             applications.classList.remove("current");
           };
           $("#application-tab").onclick=function(){
             reports.classList.remove("current");
             applications.classList.add("current");
           };
           </script>
          </div>
        </div>
      </div>
    </div>
    <%- include("/partial/footer") %>
  </body>
</html>
