<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <%- include("/partial/header",{title:"关于 | 人大附中社团管理平台"}) %>
  </head>
  <body>
    <%- include("/partial/drawer",{user:user}) %>
    <%- include("/partial/appbar",{title:"关于"}) %>
    <div id="wrapper" class="mdc-top-app-bar--fixed-adjust">
      <div id="content-in">
        <div id="content">
          <div class="mdc-card">
            <h1 class="mdc-typography-headline1">关于</h1>
            <p class="mdc-typography--body1">人大附中社团管理平台 v<%= require("./consts").version %></p>
            <p class="mdc-typography--body1">
              <i class="material-icons icon">code</i>
              with
              <i class="material-icons icon">favorite</i>
              by
              <img class="icon" src="/img/keeer.svg" height="20" />
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include("/partial/footer") %>
  </body>
</html>
