<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <%- include("/partial/header",{title:"人大附中社团管理平台"}) %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flickity@2/dist/flickity.min.css">
  </head>
  <body>
    <%- include("/partial/drawer",{user:user}) %>
    <%- include("/partial/appbar",{title:"人大附中社团管理平台"}) %>
    <div id="wrapper" class="mdc-top-app-bar--fixed-adjust">
      <div id="content-in">
        <div id="content">
          <div class="mdc-card">
            <div class="main-carousel" data-flickity='{ "autoPlay": true }'>
              <% require("./home").carousel.forEach(el => { %>
              <div class="carousel-cell">
                <a target="_blank" href="<%= el.link %>">
                  <img onload="window.dispatchEvent(new Event('resize'))" src="<%= el.img %>" />
                </a>
              </div>
              <% }); %>
            </div>
            <br />
            <h1>
              <% if(user.role === "admin") { %>
              <a href="/home-settings" class="mdc-icon-button material-icons">settings</a>
              <% } %>
              公告
            </h1>
            <div class="mdc-list" data-mdc-auto-init="MDCList">
              <% require("./home").links.forEach(el => { %>
                <a target="_blank" href="<%= el.link %>" class="mdc-list-item" data-mdc-auto-init="MDCRipple">
                  <%= el.title %>
                </a>
                <hr class="mdc-list-divider">
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("/partial/footer") %>
    <script src="https://cdn.jsdelivr.net/npm/flickity@2/dist/flickity.pkgd.min.js"></script>
  </body>
</html>
