<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <%- include("/partial/header",{title:"修改密码 | 人大附中社团管理平台"}) %>
  </head>
  <body>
    <%- include("/partial/drawer",{user:user}) %>
    <%- include("/partial/appbar",{title:"修改密码"}) %>
    <div id="wrapper" class="mdc-top-app-bar--fixed-adjust">
      <div id="content-in">
        <div id="content">
          <div class="mdc-card">
            <form action="/settings" method="post">
              <%- include("/mdc/input",{label:"原密码",name:"current",type:"password",icon:"lock_open",required:true,autocomplete:"current-password"}) %>
              <%- include("/mdc/input",{label:"新密码",name:"new",type:"password",icon:"lock",required:true,autocomplete:"new-password"}) %>
              <%- include("/mdc/input",{label:"重复新密码",name:"repeat",type:"password",icon:"repeat",required:true,autocomplete:"new-password"}) %>
              <input type="submit" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" value="修改密码" disabled />
              <script>
              var $ = function(a){return document.querySelector(a);};
              function onchange() {
                if($("input[name=new]").value === $("input[name=repeat]").value) {
                  $("input[type=submit]").removeAttribute("disabled");
                } else {
                  $("input[type=submit]").setAttribute("disabled","disabled");
                }
              }
              $("input[name=new]").addEventListener("keyup",onchange);
              $("input[name=repeat]").addEventListener("keyup",onchange);
              </script>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include("/partial/footer") %>
  </body>
</html>
