<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <%- include("/partial/header",{title:"用户管理 | 人大附中社团管理平台"}) %>
  </head>
  <body>
    <%- include("/partial/drawer",{user:user}) %>
    <%- include("/partial/appbar",{title:"用户管理"}) %>
    <div id="wrapper" class="mdc-top-app-bar--fixed-adjust">
      <div id="content-in">
        <div id="content">
          <div class="mdc-card left" id="users">
            <% if(user.role !== "admin") { %>
              您无权进入此设置。
            <% } else { %>
            <a href="/user/new" class="mdc-fab" data-mdc-auto-init="MDCRipple" aria-label="New">
              <span class="mdc-fab__icon material-icons">add</span>
            </a>
            <p class="right">
              <a href="/user/new" class="mdc-button mdc-button--raised mdc-theme--secondary-bg" data-mdc-auto-init="MDCRipple">
                <span class="material-icons">add</span>
                新建用户
              </a>
            </p>
            <table>
              <tr>
                <th width="48"></th>
                <th>uid</th>
                <th>显示名</th>
                <th>类型</th>
                <th>类别</th>
              </tr>
              <% require("./user").all.sort((user1, user2) => {
                return [user1.id, user2.id].sort().indexOf(user1.id) * 2 - 1;
              }).forEach(user => {
                let role = "未知";
                switch(user.role) {
                  case "admin":
                  role = "管理员";
                  break;

                  case "association":
                  role = "社团";
                  break;

                  case "officer":
                  role = "干事";
                  break;
                }
              %>
                <tr>
                  <td><a href="/user/<%= user.id %>" class="mdc-icon-button material-icons">edit</a></td>
                  <td><%= user.id %></td>
                  <td><%= user.name %></td>
                  <td><%= role %></td>
                  <td><%= require("./consts").user.typesReverse[user.type] || "/" %></td>
                </tr>
              <% }); %>
            </table>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <%- include("/partial/footer") %>
  </body>
</html>
